.image-holder {
  position: relative;
  height: 100%;
}

.banner-quote {
  font-size: clamp(2rem, 5vw, 4rem);
  /* line-height: 1.2; */
  color: var(--light-color); /* if needed */
  /* max-width: 900px; */
  margin: 0 auto;
  text-shadow: rgb(0, 0, 0) 1px 1px 2px;
  padding-left: 320px;
  padding-right: 320px;
}

.banner-quote-by {
  font-size: clamp(1rem, 2.5vw, 2rem);
  line-height: 1.3;
  /* max-width: 900px; */
  margin: 0 auto;
}

.banner-quote-ladon {
  font-size: clamp(3rem, 5vw, 4rem);
  color: var(--primary-color);
  text-shadow: rgb(0, 0, 0) 1px 1px 2px;
  padding-left: 130px;
  padding-right: 130px;
}

.overlay-circle {
  position: absolute;
  inset: 0;
  pointer-events: none; /* Let clicks pass through */
  background: radial-gradient(
    ellipse 70% 50% at center,
    rgba(0, 0, 0, 0) 40%,
    rgba(50, 50, 50, 0.8) 80%
  );
}

.fade-out-up {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 600ms ease-out, transform 600ms ease-out;
}

.fade-in-up {
  opacity: 1;
  transform: translateY(0);
  animation: fadeInUp 600ms ease-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* phones */
@media screen and (max-width: 599px) {
}

/* @media (max-width: 1220px) and (max-height: 561px) {
  h1._banner-quote_ci1dk_1.light.text-uppercase.fw-bold {
    font-size: clamp(2rem, 3vw, 4rem) !important;
  }
} */

@media screen and (max-width: 767px) {
  /* small tablets and phones in landscape */
  .banner-quote {
    font-size: clamp(2.5rem, 1.5vw, 2rem);
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
@media screen and (max-width: 991px) {
  /* tablets */
  .banner-quote-ladon {
    font-size: clamp(1rem, 3vw, 2rem);
  }

  .banner-quote {
    font-size: clamp(2.5rem, 2.5vw, 2rem);
    padding-left: 80px !important;
    padding-right: 80px !important;
  }
}

@media screen and (max-width: 1199px) {
  /* laptops */
  .banner-quote {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    padding-left: 120px !important;
    padding-right: 120px !important;
  }
  .banner-quote-by {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    padding-left: 120px !important;
    padding-right: 120px !important;
  }

  .banner-quote-ladon {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    padding-left: 120px !important;
    padding-right: 120px !important;
  }
}

@media screen and (max-width: 1336px) {
  /* desktops */
  .banner-quote {
    padding-left: 180px;
    padding-right: 180px;
  }
}
@media screen and (max-width: 1599px) {
  /* desktops */
}
@media screen and (min-width: 1600px) {
  /* ultra large */
  .banner-quote {
    padding-left: 220px;
    padding-right: 220px;
  }
}
