.image-holder {
  position: relative;
  height: 100%;
}

.banner-content {
  padding-left: 10%;
  padding-right: 10%;
}

.banner-quote {
  font-size: clamp(2rem, 5vw, 4rem);
  color: var(--light-color); /* if needed */
  margin: 0 auto;
  text-shadow: rgb(0, 0, 0) 1px 1px 2px;
  /* padding-left: 320px;
  padding-right: 320px; */
}

.banner-quote-by {
  font-size: clamp(1rem, 2.5vw, 2rem);
  line-height: 1.3;
  margin: 0 auto;
}

.banner-quote-ladon {
  font-size: clamp(2rem, 5vw, 4rem);
  color: var(--primary-color);
  text-shadow: rgb(0, 0, 0) 1px 1px 2px;
}

.overlay-circle {
  position: absolute;
  inset: 0;
  pointer-events: none; /* Let clicks pass through */
  background: radial-gradient(
    ellipse 70% 50% at center,
    rgba(6, 27, 188, 0) 40%,
    rgba(50, 50, 50, 0.8) 80%
  );
}

.fade-out-up {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 600ms ease-out, transform 600ms ease-out;
}

.fade-in-up {
  opacity: 1;
  transform: translateY(0);
  animation: fadeInUp 600ms ease-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner-transition-canvas {
  width: 210vh !important;
  height: 100% !important;
  display: flex !important;
  filter: "sepia(.3) brightness(0.6) saturate(1) contrast(0.8)!important"
  
}

/* phones */
@media screen and (max-width: 599px) {
  .banner-quote {
    font-size: 1rem;
  }

  .banner-quote-by {
    font-size: 1rem;
  }

  .banner-quote-ladon {
    font-size: 1rem;
  }

  .btn-hero-cta {
    padding: 8px;
  }
  .btn-hero-span {
    font-size: 0.85rem;
  }
}
/* Phones */

/* Phones */
@media (max-width: 560px) {
}
/* Phones */

/* Phones */
@media (max-width: 639px) {
} /* Phones */

/* Small tablets */
@media (max-width: 767px) {
} /* Small tablets */

/* Tablets & small laptops */
@media (max-width: 1023px) {
} /* Tablets & small laptops */

/* Laptops & desktops */
@media (max-width: 1279px) {
} /* Laptops & desktops */

/* Large desktops */
@media (max-width: 1535px) {
} /* Large desktops */
