.services-section {
  /* background-image: linear-gradient(rgba(18, 77, 170, 0.6), rgb(54, 57, 87)), url("/assets/images/intro/bg-image4.jpg"); */
  /* background-image: url("/assets/images/intro/bg-image4.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.services-section-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  pointer-events: none; /* so clicks go through to content */
}