:root {
  --accent-color: #333;
  --black-color: #000;
  --dark-color: #111;
  --gray-color-100: #F9F7F5;
  --gray-color-200: #EFEFEF;
  --gray-color-300: #D1D1D1;
  --gray-color-400: #C0C0C0;
  --gray-color-500: #adb5bd;
  --dark-gray-color: #474341;
  --bs-light-rgb: rgba(255, 255, 255, 1);
  --light-color: #fff;
  --primary-color: #ff9e0d;
  --swiper-theme-color: #807E7C !important;
  --bs-primary-rgb: 255, 158, 13;
}

@media screen and (max-width: 600px) {
  :root {
    --header-height: 100px;
    --header-height-min: 80px;
  }
}

:root {
  --body-font: "Open Sans", sans-serif;
  --heading-font: "Oswald", serif;
}