.bg-gray-200 { background-color: var(--gray-color-200); }
.bg-light { background-color: var(--light-color) !important; }
.border-rounded-10 { border-radius: 10px; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }
.mb-10 { margin-bottom: 10px; }
.mb-20 { margin-bottom: 20px; }